<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="fragments/head :: head(~{})"></head>

<body>
  <main>
    <h1>Cadastro de Pessoa Juridica</h1>

    <form method="post" th:action="${pessoaJuridica.id == null} ? @{/pessoasjuridicas/save} : @{/pessoasjuridicas/update}" th:object="${pessoaJuridica}">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="nome">Razão Social</label>
          <input type="text" class="form-control" id="nome" th:field="*{nome}" placeholder="Digite a Razão Social">
        </div>
        <div class="form-group col-md-6">
          <label for="cnpj">CNPJ</label>
          <input type="text" class="form-control" id="cnpj" th:field="*{cnpj}" placeholder="Digite o CNPJ">
        </div>
      </div>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Digite seu melhor e-mail">
      </div>
      <div class="form-group">
        <label for="telefone">Telefone</label>
        <input type="telefone" class="form-control" id="telefone" th:field="*{telefone}" placeholder="Digite seu melhor telefone">
      </div>
      <div class="form-group">
        <label for="endereco">Logradouro</label>
        <input type="text" class="form-control" id="endereco" th:field="*{enderecos[0].logradouro}" placeholder="Digite seu endereço">
      </div>
      <div class="form-group">
        <label for="complemento">Complemento</label>
        <input type="text" class="form-control" id="complemento" th:field="*{enderecos[0].complemento}" placeholder="Digite o complemento">
      </div>
      <div class="form-group">
        <label for="bairro">Bairro</label>
        <input type="text" class="form-control" id="bairro" th:field="*{enderecos[0].bairro}" placeholder="Digite o bairro">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="cidade">Cidade</label>
          <input type="text" class="form-control" id="cidade" th:field="*{enderecos[0].cidade}">
        </div>

        <div class="form-group col-md-6">
          <label for="estado">Estado</label>
          <input type="text" class="form-control" id="estado" th:field="*{enderecos[0].cidade.estado}">
        </div>

        <!--
        <div class="form-group col-md-4">
          <label for="estado">Estado</label>
          <select id="estado" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        -->

        <div class="form-group col-md-2">
          <label for="cep">CEP</label>
          <input type="text" class="form-control" id="cep">
        </div>
      </div>
      <input type="submit" value="Cadastrar">
    </form>
  </main>
</body>
</html>