<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/head :: head(~{})"></head>

<body>
<main class="container">
  <table class="table" border="1">
    <thead>
    <tr>
      <th>Produto</th>
      <th>Valor</th>
      <th>Quantidade</th>
      <th>Total</th>
    </tr>
    </thead>

      <tr th:each="itemvenda,posicao : ${session.venda.itens}">
        <td th:text="${itemvenda.produto.descricao}"> </td>
        <td th:text="${itemvenda.produto.valor}"> </td>
        <td th:text="${itemvenda.quantidade}"> </td>
        <td th:text="${itemvenda.total}"> </td>
        <td> <a th:href="@{/vendas/removeItemVenda/{id}(id=${posicao.index})}">Excluir</a> </td>
      </tr>

      <tr style="text-align: right">
        <td colspan="3" class="font-weight-bold">
          <label>Total do Carrinho R$</label>
              <span th:text="${session.venda.total}"></span>
        </td>
      </tr>

  </table>


  <form method="get" th:action="@{/vendas/carregar-pessoa}">
    <p>Selecione o Cliente se Pessoa Física ou Pessoa Jurídica</p>
      <input id="pf" name="tipo" value="Pessoa Física" type="submit" >
      <input id="pj" name="tipo" value="Pessoa Jurídica" type="submit" >
  </form>

  <hr>
  <table class="table">
    <thead>
    <tr>
      <th>Nome</th>
    </tr>
    </thead>
    <tr th:each="p : ${pessoas}">
      <td th:text="${p.nome}"> </td>
      <td> <a th:href="@{/vendas/seleciona-endereco/{id}(id=${p.id})}">Selecionar Cliente</a> </td>
    </tr>
  </table>

<!--

  <form method="post" th:action="@{/vendas/selecionapessoafisica}" th:object="${pessoaFisica}">
      <input type="submit" value="Selecionar Pessoa Fisica">
  </form>

  <form method="post" th:action="@{/vendas/selecionapessoajuridica}" th:object="${pessoasJuridicas}">
    <input type="submit" value="Selecionar Pessoa Juridica">
  </form>

  <div>
  <label for="p">Cliente</label>
  <select th:field="*{id}" id="p" >
    <option th:each="p : ${pessoas}" th:value="${p.id}"  th:text="${p.nome}"></option>
  </select>
  </div>
  -->

</main>
</body>
</html>