<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>List.html</title>
</head>
<body>
<table class="table" border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Data</th>
        <th>Total</th>
    </tr>
    </thead>
    <tr th:each="v : ${vendas}">
        <td th:text="${v.id}"> </td>
        <td th:text="${v.data}"> </td>
        <td th:text="${v.total()}"> </td>
    </tr>
</table>
<a th:href="@{/home}">Home Page</a>
<a th:href="@{/produtos/form}">Cadastrar Produto</a>
</body>
</html>