<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/head :: head(~{})"></head>

<body>
<main class="container">
  <form method="post" th:action="@{/vendas/save}" >
    <div class="row g-3">
      <div class="col-md-6">
        <h2>Selecionar endereço</h2>
            <h3>Cliente:</h3>
            <h3 th:text="${session.venda.cliente.nome}"> </h3>
            <div th:each="end : ${session.venda.cliente.enderecos}">
                <span hidden="hidden" th:text="${end.id}"> </span>
                <span th:text="${end.descricao}"> </span>
                <span th:text="${end.logradouro}"> </span>
                <span th:text="${end.bairro}"> </span>
                <a th:href="@{/vendas/save/{id}(id=${end.id})}">Finalizar Compra</a>
            </div>
      </div>
    </div>


      <!--<input type="submit" value="Finalizar Compra">-->

  </form>
</main>
</body>
</html>