<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="fragments/head :: head(~{})"></head>

<body>
  <main>
    <h1>Cadastro de Produtos</h1>
    <form method="post" th:action="${produto.id == null} ? @{/produtos/save} : @{/produtos/update}" th:object="${produto}">
      <input type="hidden" th:field="*{id}">
      <input type="text" th:field="*{descricao}" placeholder="Descrição" th:errorclass="is-invalid">
      <label class="invalid-feedback" th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></label>
      <input type="number" th:field="*{valor}" placeholder="Valor"  min="0" step="0.01" th:errorclass="is-invalid">
      <label class="invalid-feedback" th:if="${#fields.hasErrors('valor')}" th:errors="*{valor}"></label>
      <input type="submit" value="Enviar">
    </form>
  </main>
</body>
</html>