<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="fragments/head :: head(~{})"></head>

<body>
    <main>
        <table class="table" border="1">
            <thead>
            <tr>
                <!--<th>Id</th>-->
                <th>Nome</th>
                <th>Valor</th>
            </tr>
            </thead>
            <tr th:each="p : ${produtos}">
                <!--<td th:text="${p.id}"> </td>-->
                <td th:text="${p.descricao}"> </td>
                <td th:text="${p.valor}"> </td>
                <td><a th:href="@{/produtos/edit/{id}(id=${p.id})}">Comprar</a></td>
            </tr>
        </table>
    </main>
</body>
</html>